@font-face{
    font-family: Staatliches;
    src: url(./public/Staatliches-Regular.ttf)
}



html{
    scroll-behavior: smooth;
    padding-left: 10%;
    padding-right: 10%;
}

h1{
    font-family: Staatliches;
    font-size: 40px;
}
h2{
    font-family: Staatliches;
}
p{
    font-family: Staatliches;
}

section{
    margin-top: 100px;
}
section.drawing{
    align-items: center;
}
img{
    width: 50%;
    display: inline-block;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

img:hover{
    cursor: pointer;
}

img#lightBoxMedia{
    justify-items: center;
    max-height: 90%;
    max-width: 90%;
    width: auto;
    height: auto;
    margin-top: 5%;
    display: flex;

}

img.carousel{
    width: 100px;
    display: inline;
    margin: 1px;
}


video{
    width: 50%;
    display: inline-block;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

#carousel{
    display: none;
}


p.menu-item{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

p.menu-item:hover{
    cursor: pointer;}

p.closeButton{
    margin: 0px;
}

p.closeButton{
    cursor: pointer;
}

section#lightbox{
    display: none;
    position: fixed;
    width: 90vw;
    height: 90vh;
    background-color: gray;
    z-index: 100;
    top: 0%;
    margin: 0%;
    top: 5vh;
    left: 5vw;
}

div#lightBoxButtonDiv{
    height: 5%;
    margin: 0px;
}
div#imageDiv{
    height: 95%;
    margin: 0px;
}
