
html{
    scroll-behavior: smooth;
}

section{
    margin-top: 100px;
}
section.drawing{
    align-items: center;
}
img{
    width: 50%;
    display: inline-block;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;

}

img.carousel{
    width: 100px;
    display: inline;
    margin: 1px;
}


video{
    width: 50%;
    display: inline-block;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

#carousel{
    display: none;
}


p.menu-item{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

p.menu-item:hover{
    cursor: pointer;;

}

